body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(136, 132, 132);
    font-size: 20px;
    text-align: center;

}


.noticia{
    
    display: flex;
    gap: 435px;
}

#noticias{

   justify-content: space-between;

  
}

#navbar{
    margin: 10px;
    padding: 10px;
    background-color: blue;
    text-align: center;
    border-color: black;
    border-style: solid;
    
    
    
}

#navbar2{
    margin: 10px;
    padding: 10px;
    background-color: blue;
    text-align: center;
    border-color: black;
    border-style: solid;

}

.noticia1 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: blue;

}

.noticia3 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: blue;

}

.noticia4 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: blue;

}



#rodape{
    margin: 2px;
    padding: 30px;
    background-color: blue ;
    text-align: center;
    border-color: black;
    border-style: solid;
   

}
img{
    height: 200px;
    width: 300px;
}