body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(189, 185, 185);
    font-size: 20px;
    text-align: center;

}


.noticia{
    
    display: inline-flex;
    gap: 235px;
}

#noticias{

   justify-content: space-between;

  
}

#navbar{
    margin: 10px;
    padding: 10px;
    background-color: rgb(163, 163, 250);
    text-align: center;
    border-color: black;
    border-style: solid;
    
    
    
}

#navbar2{
    margin: 10px;
    padding: 10px;
    background-color: rgb(163, 163, 250);
    text-align: center;
    border-color: black;
    border-style: solid;

}

.noticia1 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: rgb(163, 163, 250);

}

.noticia3 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: rgb(163, 163, 250);

}

.noticia4 {
    padding: 15px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    background-color: rgb(163, 163, 250);

}



#rodape{
    margin: 2px;
    padding: 30px;
    background-color: rgb(163, 163, 250) ;
    text-align: center;
    border-color: black;
    border-style: solid;
   

}
img{
    height: 200px;
    width: 300px;
}